
time_wait = 1 # min
node = "http://localhost:26657"


[logging]

# d => day && interval = 1  | every day
# h => hour && interval = 2 | every 2 hours
# m => minute

time = 'd'
interval = 1
backup_count = 7


[telegram_bot]
TOKEN = '5791523197:AAEv242345A-PGqJyUG-4zZIJ9bTOad644Ly0'
admins = [3864234069]

['accounts']
NAME_WALLET = 'lava@1...'


